@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    letter-spacing: 4px;
}
i{
    position: absolute;
    top: 0;
    left: 0;
    margin: 3vh;
    color: white;
    font-size: 35px;
}
i:hover{
    color: #0099ff;
}

body {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 100vh;
  background: url('./logob.png')no-repeat;
  background-color: black;
  background-position:left;
  background-size: 36%;
}

.wrapper {
  width: 700px;
  background:none;
  margin-right: 40px;
  border: 2px solid rgba(255,255,255,-2);
  backdrop-filter: blur(20px);
  box-shadow: 00 0px rgb(255, 255, 255);
  color:#fff;
  border-radius: 30px;
  padding: 30px 40px;

}

.wrapper h1 {
  font-size: 35px;
  font-style: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #09f;
  text-align: center;
  margin-bottom:20px ;
  margin-right: 100px;
  letter-spacing: 4px;
}

.wrapper .input-box {
  width: 80%;
  height: 100%;
  background: #fff;
  margin: 10px 0;
  padding: 5px;
  border-bottom: #09f;
  border-radius: 50px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border-bottom: #09f;
  padding:3px;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 50px;

}
.inp{
    font-size: 20px;
    color: #09f;
}

/**/

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px
  
}

.wrapper .remember-forgot {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
    align-self: center;
    width: 50%;
    color: #fff;
    margin: 3vh;
    margin-left: 10vh;
    padding:10px;
    height: 50% auto;
    background-color: #09f;
    border:#09f;
    margin: 20 px 0px;
    cursor: pointer;
    border-radius: 45px;
    box-shadow: 0 0 10px #09f;
    font-size: 25px;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}
.input-box:hover{
    box-shadow: 0 0 20px #09f;
}
.btn:hover{
    background-color: #000000;
    color: #09f;
}

.wrapper .register-link {
  font-size: medium;
  text-align: center;
  padding: 5px;
  margin-top: 20px 0 20px;
  color: #09f;
  margin-right: 22vh;
 
}

.register-link  a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
 padding: 5px;
  color: #09f;
}

.register-link  a:hover {
  color: #fff;
  text-decoration: underline;
  font-weight: 600;
  color: #09f;
}
.btn a{
  text-decoration: none;
  color: #ffffff;
}
.btn:hover a{
  color: #09f;
}